{%- macro flash_messages(default_class='info') %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'message' %}
          <p class="alert alert-{{ default_class }}">{{ message }}</p>
        {% elif category == 'error' %}
          <p class="alert alert-danger">{{ message }}</p>
        {% else %}
          <p class="alert alert-{{ category }}">{{ message }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro -%}
