{% extends "index.html" %}
{% from "_forms.html" import render_field, render_errors %}

{% block title %}New Post{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('post_edit', slug=slug) }}">
  <fieldset>
    <legend>Edit a Post</legend>
    {{ render_errors(form) }}
    {{ form.csrf_token }}
    {{ render_field(form.title) }}
    {{ render_field(form.leading, rows='5') }}
    {{ render_field(form.content, rows='10') }}
    <button type="submit" class="btn btn-primary">Save</button>
  </fieldset>
</form>
{% endblock %}
