{% extends "index.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="post">
    <h1 class="page-header">
      <small class="pull-right text-muted">{{ post.published.strftime('%B %d, %Y') }}</small>
      {{ post.title }}
    </h1>
    <p class="lead">{{ post.leading }}</p>
    {{ post.content|html }}
  </div>
{% endblock %}

{% block admin %}
  {% set edit_post_url = url_for('edit_post', post_id=post.post_id) %}
  <a href="{{ edit_post_url }}" class="btn btn-primary" title="Edit Post">
    <i class="icon-wrench"></i>
  </a>
  {{ super() }}
{% endblock %}
